;@import "elements.less";

/*||||||||| - function to elements.less - |||||||||

.gradient(#F5F5F5, #EEE, #FFF); 
.bw-gradient(#EEE, 230, 255); 
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 
.drop-shadow(0, 1px, 2px, 0.2);
.rounded(5px);
.border-radius(5px, 0, 0, 5px);
.opacity(0.8); 
.transition-duration(0.2s); 
.rotation(15deg); 
.scale(2); 
.transition(2s, ease-out); 
.inner-shadow(0, 1px, 2px, 0.4);
.box-shadow(0 1px 2px #999); 
.columns(250px, 0, 50px, #EEE, solid, 1px); 
.translate(10px, 20px); 
.box-sizing(content-box); 
.user-select(none); 

.border-radius(20px);
.border-radius-custom(20px, 20px, 0px, 0px);
.box-shadow(5px, 5px, 6px, 0.3);
.transition(all, 0.5s, ease-in); -->hover {opacity: 0;}
.transform(5deg, 0.5, 1deg, 0px); 
.gradient(left, #663333, #333333);
.gradient(left, #663333, #333333);
.quick-gradient(top, 0.2);


/*div, h1, li, img {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}*/

/*||||||||| ------ function ------ |||||||||*/



/*||||||||| ------ font-face ------ |||||||||*/

@font-face {
    font-family: 'supermarketregular';
    src: url('fonts/supermarket_0-webfont.eot');
    src: url('fonts/supermarket_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/supermarket_0-webfont.woff2') format('woff2'),
         url('fonts/supermarket_0-webfont.woff') format('woff'),
         url('fonts/supermarket_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*||||||||| ------ variables ------ |||||||||*/

@font_family_base:'supermarketregular';
@font_base:18px;
@color_base:#000;

/*||||||||| ------ css less ------ |||||||||*/

*:focus {outline: none;}
div {box-sizing: border-box;}
img {max-width: 100%; height: auto;}

body,html {
	font-family: @font_family_base;
	color: @color_base;
    font-size: @font_base;
	padding: 0;
	margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;    
    
    .hd_top {
        width: 100%;
        text-align: center;
        height: 100px;
        position: relative;

        .logo {
            display: inline-block;
            margin-top: 20px;
        }
        .hd_top_right {
            width: 220px;
            text-align: right;
            position: absolute;
            top: 30px;
            right: 10px;

            .social {

                li {
                    display: inline-block;
                    margin: 5px;
                }
            }
            .tel {
                clear: both;

                span {
                    color: #F26C62;
                }
            }
        }
    }

    .bg_manu {
        background-color: #F26C62;
        overflow: hidden;

        .menu {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                float: left;
                margin: 8px 20px;
                color: #fff;
                cursor: pointer;
                .transition(all, 0.3s, ease-in);

                a {
                    color: #fff;

                    &:hover {                    
                        color: #000;
                    }
                }                
            }
        }        
    }
}

.active_menu {
    color: #000!important;
}

.banner_aGrace {
    margin: 30px 0 12px;
}

.bl_content {
    position: relative;

    h1 {
        display: inline-block;
        font-size: 30px;
        line-height: 2.6;
        background-color: #fff;
        background-image: url(../images/i_crown.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 15px;
        padding: 0 20px;
        position: relative;
        top: -40px;
        left: 20px;
    }
    .content {
        position: relative;
        top: -40px;

        h2 {
            background-color: #F26C62;
            font-size: 25px;
            padding: 5px 20px;
            color: #fff;
            text-align: left;
        }
    }
    .moreinfo {
        display: inline-block;
        background-color: #fff;
        font-size: 19px;
        color: #333333;
        border: 3px solid #F26C62;
        padding: 5px 10px;
        position: absolute;
        left: 50%;
        bottom: -20px;
        margin-left: -76px;
        cursor: pointer;
        .transition(all, 0.3s, ease-in);

        &:hover {
            background-color: #F26C62;
            color: #fff;
        }
    }

}

.ag,.beauty_talk {

    .pic {
        img {
            .transition(all, 0.3s, ease-in);               
        }
    }

    &:hover img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.testimonials {
    display: block;
    float: left;
    background-image: url(../images/p_testimonials.png);
    background-repeat: no-repeat;
    width: 285px;
    height: 320px;
    margin-top: 30px;
    position: relative;

    h1 {
        background-color: transparent!important;
    }

    .pic {
        width: 165px;
        height: 140px;
        position: absolute;
        bottom: -8px;
        right: 30px;

        img {
            max-width: 100%;
            border: 2px solid #F26C62;
        }
    }

    .bl_c {
        position: relative;
        top: -50px;
        padding: 0 25px;

        h2 {
            font-size: 20px;
            color: #fff;
            margin: 10px 0;
            line-height: 1.2;
        }
        p {
            font-size: 17px;
            margin:  5px;
            line-height: 1.2;
        }        
    }
}

.news_promotion {
    display: block;
    float: right;
    width: 665px;
    height: 320px;
    border: 3px solid #F26C62;
    margin: 30px 0;
    position: relative;

    .slide {
        width: 100%;
        height: 280px;
        position: relative;
        top: -45px;
        text-align: center;

        .ct {
            display: inline-block;
            background-color: #F26C62;
            padding: 2px;
            margin: 10px; 

            a {
                color: #000;
            }    

            p {
                font-size: 21px;
                line-height: 1.2;

                span {
                    color: #fff;
                }
            }       
        }       
    }
    .next_pro {
        position: absolute;
        top: 45%;
        right: 8px;
        cursor: pointer;
    }  
    .prev_pro {
        position: absolute;
        top: 45%;
        left: 8px;
        cursor: pointer;
    }    
}

.our_services  {
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    border: 3px solid #F26C62;
    padding: 0 25px 0;

    .rh {
        margin-left: 21px!important;
    }
    .bl_con {
        float: left;
        width: 450px;
        margin: 20px 0 0;
        border: 2px solid #F26C62;       
        
        .pic {
            float: left;
            width: 202px;
            height: 119px;
            border-right: 2px solid #F26C62;
            overflow: hidden;  

            img {
                .transition(all, 0.3s, ease-in); 
            }        
        }
        .desc {
            float: left;
            width: 244px;
            height: 119px;
            padding: 7px 15px;
            text-align: left;
            position: relative;
            
            h3 {
                font-size: 21px;
                color: #F26C62;
                border-bottom: 3px solid #F26C62;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
            }
        }

        .more_in {
            font-size: 16px;
            color: #F26C62;
            position: absolute;
            bottom: 5px;

            &:hover {
                text-decoration: underline;
            }
        }
        &:hover img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}

.ag {
    display: block;
    float: left;
    width: 600px;
    margin: 30px 0;
    border: 3px solid #F26C62;
    padding: 0 25px 0;

    .bl_data {
        position: relative;
        top: -40px;

        .pic {
            float: left;
            width: 250px;
            height: 250px;
            border: 3px solid #F26C62;
            overflow: hidden;
        }
        .desc {
            float: left;
            width: 290px;
            padding: 7px 15px;
            text-align: left;
            position: relative;
            
            h3 {
                font-size: 23px;
                color: #F26C62;
                border-bottom: 3px solid #F26C62;
                margin-bottom: 20px;
                line-height: 1.5;
            }
            p {
                font-size: 19px;
                margin-bottom: 15px;
                line-height: 1.1;
            }
        } 
    }
    .moreinfo {
        margin-left: -7px!important;
    }
}

.our_doctor {
    display: block;
    float: right;
    width: 350px;
    margin: 30px 0;
    border: 3px solid #F26C62;
    padding: 0 25px 0;   

    .bl_data {
        position: relative;
        top: -40px;

        .pic {
            width: 100%;

            img {
                max-width: 100%;
                border: 3px solid #F26C62;
            }
        }
        .desc {
            width: 100%;
            padding: 7px 0;
            text-align: left;
            position: relative;
            
            h3 {
                font-size: 23px;
                color: #F26C62;
                margin: 10px 0;
            }
            p {
                font-size: 19px;
                line-height: 1.1;
            }
        } 
    }     
}

.beauty_talk {
    display: block;
    float: left;
    width: 600px;
    margin: 30px 0;
    border: 3px solid #F26C62;
    padding: 0 25px 0;

    .bl_data {
        position: relative;
        top: -40px;

        .pic {
            float: left;
            width: 250px;
            height: 250px;
            border: 3px solid #F26C62;
            overflow: hidden;
        }
        .desc {
            float: left;
            width: 290px;
            padding: 7px 15px;
            text-align: left;
            position: relative;
            
            h3 {
                font-size: 23px;
                color: #F26C62;
                border-bottom: 3px solid #F26C62;
                margin-bottom: 11px;
                line-height: 1.5;
            }
        } 
        p {
            font-size: 19px;
            margin-bottom: 18px;
            line-height: 1.2;
        }
    }
    .moreinfo {
        margin-left: -7px!important;
    }
}

.contact {
    display: block;
    float: right;
    width: 350px;
    margin: 30px 0;
    border: 3px solid #F26C62;
    padding: 0 25px 0; 

    h1 {
        left: 80px!important;
    }  

    .bl_data {
        position: relative;
        top: -40px;
        text-align: center;        

        .pic {
            width: 100%;

            img {
                max-width: 100%;
            }
        }
        .desc {
            width: 100%;
            padding: 7px 0;
            text-align: center;
            position: relative;
            
            p {
                font-size: 18px;
                line-height: 1.1;
                margin: 13px 0;
            }
        } 
        .fb_fanface {
            border-top: 3px solid #F26C62;
            padding-top: 10px;
        }
    }     
}

.root {
    font-size: 15px;
    margin: 20px 0 40px;
    padding: 0 20px;

    a {
        color: #999;
    }
}

#news_promotion {

    .news_promotion {
        float: none;
        width: 98%;
        height: 630px;
        margin: 50px 20px;
        text-align: center;

        h1 {
            left: 0;
        }

        .slide {
            width: 100%;
            height: 560px;
        }

        .ct {
            background-color: transparent;

            img {
                margin-bottom: 10px;
            }
        }
        .next_pro {
            background-color: #fff;
            position: absolute;
            bottom: -32px;
            right: 46%;
            top: inherit;
            cursor: pointer;
            padding: 15px;
        }  
        .prev_pro {
            background-color: #fff;
            position: absolute;
            bottom: -32px;
            left: 46%;
            top: inherit;
            cursor: pointer;
            padding: 15px;
        }      
    }

    .news_promotion_detai {
        display: block;
        width: 600px;
        margin: 0 20px;
        float: left;

        h2 {
            font-size: 28px;
            margin-bottom: 10px;
            color: #333;
            line-height: 1.2;
        }
        img {
            max-width: 100%;
            border: 3px solid #F26C62;
            margin: 5px;
        }
        p {
            font-size: 19px;
            margin: 20px 0;
            line-height: 1.2;
        }
    }
    .our_services {
        display: block;
        width: 330px;
        height: 990px;
        float: right;
        margin: 40px 0;
        position: relative;
        top: -20px;
        text-align: center;

        h1 {
            left: 0;
        }
        ul {
            text-align: center;

            li {
                font-size: 18px;
                margin: 5px 0;
                padding: 5px 0;
                background-color: #FCE2DF;

                a {
                    color: #F26C60;
                    .transition(all, 0.3s, ease-in);

                    &:hover {
                        color: #000;
                    }
                }   

                &:nth-child(odd) {
                    background-color: #FFF;
                }             
            }
        }
    }

}

#testimonials {

    .testimonials {
        background-image: none;
        width: 98%;
        height: 520px;
        border: 3px solid #F26C62;
        margin: 30px 0;
        position: relative;
        text-align: center;

        h1 {
            left: 0;
            background-color: #fff!important;
        }

        .slide {
            width: 100%;
            height: 500px;
            top: -55px;
        }

        .ct {
            display: inline-block;
            margin: 10px; 

            a {
                color: #000;
            }    

            p {
                width: 160px;
                height: 44px;
                font-size: 19px;
                line-height: 1.2;

                span {
                    color: #fff;
                }
            }       
        }

        .next_pro {
            background-color: #fff;
            position: absolute;
            bottom: -32px;
            right: 46%;
            top: inherit;
            cursor: pointer;
            padding: 15px;
        }  
        .prev_pro {
            background-color: #fff;
            position: absolute;
            bottom: -32px;
            left: 46%;
            top: inherit;
            cursor: pointer;
            padding: 15px;
        }      
    }
}

#contact_us {

    .contact_us {
        display: block;
        width: 580px;
        margin: 0 20px;
        float: left;

        h2 {
            font-size: 28px;
            margin-bottom: 10px;
            color: #333;
            line-height: 1.2;
        }
        img {
            max-width: 100%;
            border: 3px solid #F26C62;
            margin: 5px;
        }
    }
    .contact {
        text-align: center;
        padding: 0 20px;

        h1 {
            left: 0!important;
            background-image: none;
            line-height: 1;
        }
        p {
            font-size: 21px!important
        }
    }
}

.footer {
    width: 100%;
    overflow: hidden;
    border-top: 10px solid #CCCCCC;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;

    .social {
        float: left;

        li {
            display: inline-block;
            margin: 5px;
        }
    }
    .copyright {
        display: inline-block;
        font-size: 14px;
        color: #333333;
    }
    .tel {
        float: right;
        text-align: left;

        span {
            color: #F26C62;
        }
    }
}


