<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../../css/control.css" rel="stylesheet" type="text/css">
<table width="1000" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="56" align="center" class="submenuTopNonActive"  id="menu_dashboard"><div align="center"><a href="../dashboard/index.php">หน้าแรก</a></div></td>

<td width="120" align="center" class="submenuTopNonActive"  id="menu_news"><a href="../news/index.php?cate=news">News & Promotion</a></td>
<td width="100" align="center" class="submenuTopNonActive"  id="menu_testimonials"><a href="../news/index.php?cate=testimonials">Testimonials</a></td>
<td width="100" align="center" class="submenuTopNonActive"  id="menu_beauty_talk"><a href="../news/index.php?cate=beauty_talk">Beauty Talk</a></td>
<td width="100" align="center" class="submenuTopNonActive"  id="menu_ag_by_agrace"><a href="../news/index.php?cate=ag_by_agrace">AG By A Grace</a></td>
<td width="100" align="center" class="submenuTopNonActive"  id="menu_our_service"><a href="../news/index.php?cate=our_service">Our Service</a></td>
<td width="100" align="center" class="submenuTopNonActive"  id="menu_our_doctor"><a href="../news/index.php?cate=our_docter">Our Doctor</a></td>
<td width="94" align="center" class="submenuTopNonActive"  id="menu_change_password"><div align="center"><a href="../change_password/index.php" >เปลี่ยนรหัสผ่าน</a></div></td>
<td align="center" class="submenuTopNonActive"  id="menu_"><div align="center">&nbsp;</div></td>
</tr>
</table>
