            <div class="hd_top">
                <div class="container">
                    <a class="logo" href="#"><img src="../images/p_logo.png" alt="AGrace"></a>
                    <div class="hd_top_right">
                        <ul class="social">
                            <li><a href="#"><img src="../images/i_fb.png" alt=""></a></li>
                            <li><a href="#"><img src="../images/i_youtube.png" alt=""></a></li>
                            <li><a href="#"><img src="../images/i_ig.png" alt=""></a></li>
                        </ul>
                        <div class="tel"><span>Cell Center</span> : 089-9990999</div>
                    </div>
                </div>
            </div>         
            <div class="bg_manu">
                <div class="container">
                    <ul class="menu">
                        <li><a href="../index.php" id="menu_home">Home</a></li>        
                        <li><a href="../aboutus/aboutus.php" id="menu_aboutus">About us</a></li>        
                        <li><a href="../ourservice/our_service.php" id="menu_service">Our Services</a></li>            
                        <li><a href="../news/news.php" id="menu_news">News & Promotion</a></li>       
                        <li><a href="../testimonials/testimonials.php" id="menu_testimonials">Testimonials</a></li>        
                        <li><a href="../ag-by-agrace/ag_by_agrace.php" id="menu_agrace">AG by A Grace</a></li>        
                        <li><a href="../beauty-talk/beauty_talk.php" id="menu_beautytalk">Beauty talk</a></li>      
                        <li><a href="../contactus/contactus.php"id="menu_contactus">Contact us</a></li>
                    </ul>
                </div>
            </div>