<div class="container">
                <ul class="social">
                    <li><a href="#"><img src="../images/i_fb.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/i_youtube.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/i_ig.png" alt=""></a></li>
                </ul>
                <div class="copyright"><strong>@ Copyright 2016 A Grace Clinic, All right Reserved.</strong></div>
                <div class="tel"><span>Cell Center</span> : 089-9990999</div>
            </div>